.capture-image-td {
    width: 48vw;
    height: 1px;
}

img {
    /* max-width: 44vw;
    max-height: 90vh;
    position: fixed;
    top: 0;
    left: auto;
    right: auto; */
    width: inherit;
}

td {
    border: 1px solid black;
    padding: 1vw 1vw;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

.capture-text-block-con {
    margin: 1vw;
    padding: 1vw;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.paired-translate-con {
    margin: 1vw;
    padding: 1vw;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

div {
    overflow: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.capture-clip-div {
    width: 100%;
    height: fit-content;
}

.capture-text-con {
    height: max(20vh, 100%);
}
